.mainText {
    font-family: "Times New Roman", Times, serif;
    font-size: 10vw;
    background:#000;
    color:#fff;
    display:table-cell;
    vertical-align:middle;
    margin: 0;
    
}

.mainTextDiv {
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: 2px dashed #f69c55;
}